* {
    padding: 0px;
    margin: 0px;
    font-family: 'Merriweather', serif;
}

/* Header */
.banner {
    text-transform: uppercase;
    color: white;
    background-color:#036;
    font-size: 1.5em;
    text-align: center;
    padding: 1em 1em;
}

.main-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 15px;
}

.main-header h1 {
    display: flex;
    font-size: 1.5em;
    align-self: center;
    padding-top: 22.5px;
}

.main-header p {
    align-self: center;

    height: 3em;
    margin: 0 15px;
    text-align: center;
    padding-top: 7.5px;
}

/* Line Break */
hr {
    width: 95%;
    margin-left: 0.5em;
}

#second-hr {
    margin-top: 30px;
}

/* Contact Information */
fieldset {
    border: none;
}

input,
select,
textarea {
    background-color: lightgray;
    border: none;
}

.contact-flex {
    display: flex;
    flex-direction: column;
}

.contact-flex input,
select  {
    display: block;
    width: 100%;
    height: auto;
    margin: 12px 0;
}

input::placeholder {
    text-align: end;
    padding-right: 2em;
}

.contact,
.newsletter {
    display: flex;
    flex-direction: column;
    height: auto;
    max-width: 100%;
    padding: 0 .5em;
}

.contact input {
    height: 4em;

}

.contact label,
.newsletter label {
    font-size: 1.2em;
    margin-top: 0.5em;
}

.newsletter label {
    margin-bottom: -0.75em;
}

.contact select {
    font-size: 1.2em;
    height: 3em;
}

.contact legend,
.newsletter legend {
    margin-bottom: 0.5em;
    padding-top: 15px;
}


#zip-code {
    width: 40%;
}


/* Newsletter */

.checkbox, 
.radio,
.checkbox input,
.radio input {
     margin: 10px 0;
 }

 #other-topics {
    padding-bottom: 15px;
}

 /* Submit */
.submit {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.submit p {
    margin: 15px 0;
}

#submit-button {
    background-color: lightseagreen;
    color: white;
    padding: 16px 32px;
    width: 90%;
    border-radius: 25px;
}

input:focus,
textarea:focus,
select:focus {
	background-color: lightslategray;
    border: 2px solid lightslategray;
	
}

/* Media Queries */
@media (min-width:768px ) {
    .desktop-container {
        margin: 0 10em;
        padding-top: 30px;
    }

    .contact-flex {
        display: flex;
        flex-direction: row;

    }

    .contact-flex label {
        width: 40%;
    }
    
    #zip-code {
        max-width: 25%;
    }

    .contact-flex input,
    .contact-flex select {
        flex-basis: 60%;
    }

    .contact-flex label {
        flex-basis: 40%;
    }
    
    .contact,
    .newsletter {
        margin: 1.5em 1.5em;
    }

    .contact h2 {
        padding-bottom: 15px;
    }

}
  
